h1, h2, h3, h4, h5, h6, p, cite
{
  font-family: 'Open Sans', sans-serif;
  font-color: #999;
}

.navbar
{
  min-height: 75px;
}

.navbar.navbar-inverse
{
  background-image: none;
  background-color: #333;
  border-bottom: 5px solid #fff;
}

.navbar .navbar-brand
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 75px;
  vertical-align: middle;
  padding: 0 25px;
  color: #CCC;
  transition: color .5s;
}

.navbar .navbar-brand:hover
{
	color: #fff;
}

.navbar .navbar-nav>li>a
{
	border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  vertical-align: middle;
  margin: 15px 5px 0px 0px;
  padding: 0 15px;
  transition: background-color 0.5s;
}

.navbar .navbar-nav>li>a:hover, 
.navbar .navbar-nav>li.active>a, 
.navbar .navbar-nav>li.active>a:hover
{
	color: #333;
	background-color: #eee;
  background-image: none;
	background-color: #eee;
  box-shadow: none;
}

.navbar .navbar-toggle
{
  margin-top: 21px;
}

.navbar.navbar-footer
{
  min-height: 42px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.navbar.navbar-footer .navbar-right li a
{
}

.navbar.navbar-footer .navbar-nav>li>a
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
  margin: 5px 0px 0px 0px;
  padding: 0 15px;
  transition: color 0.5s;
}

.navbar.navbar-footer .navbar-nav>li>a:hover, 
.navbar.navbar-footer .navbar-nav>li.active>a, 
.navbar.navbar-footer .navbar-nav>li.active>a:hover
{
	color: #FFF;
	background-color: #333;
  background-image: none;
  box-shadow: none;
}

body 
{ 
  padding-top: 80px; 
}

.parallax 
{ 
  background-size: cover;
	height: 400px;  
	margin: 0 auto; 
  position: relative; 
}

#parallax1
{
	background-image: url(../img/1_compressed.jpg); 
}

#parallax2
{
	background-image: url(../img/4_compressed.jpg); 
}

#parallax3
{
	background-image: url(../img/2_compressed.jpg); 
}

#parallax4
{
	background-image: url(../img/5_compressed.jpg); 
}

#parallax5
{
	background-image: url(../img/1_compressed.jpg); 
}

#parallax1
{
}

#parallax1 h4
{
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, .4);
  background-color: rgba(255, 255, 255, .4);
  margin-top: 135px;
  line-height: 25px;
  font-weight: 100;
}

#parallax1 cite
{
  font-size: 15px;
  font-style: italic;
  display: block;
  text-shadow: #FFF 0px 0px 2px;
  line-height: 25px;
  text-align: right;
}

#mkimg
{
  height: 680px;
  background: transparent url(../img/mk.jpg) 50% 50% no-repeat;
  background-size: contain;
  margin: 0;
}

.feature
{
}

.feature > div:first-child
{
	margin-top: 100px;
}

.feature > div:last-child
{
	margin-bottom: 100px;
}

.feature.top > div:last-child
{
	margin-bottom: 0;
}

.feature.bottom > div:first-child
{
	margin-top: 0;
}

.feature .no-space > div:first-child, 
.feature .no-space > div:last-child
{
  margin: 0;
}

.feature.mid > div
{
  margin-top: 0;
  margin-bottom: 0;
}

.feature h1
{
	font-size: 55px;
	font-weight: 300;
}

.feature h2
{
  font-size: 24px;
  line-height: 34px;
  vertical-align: middle;
	font-weight: 400;
}

.feature h2 + h1
{
  margin-top: 50px;
}


.feature .highlight
{
  font-weight: 600;
}

.feature h3
{
	font-size: 18px;
}

.feature p.social
{
  font-size: 24px;
  color: #666;
}

.feature p.social i
{
  color: #333;
  transition: color 0.5s;
}

.feature p.social i:hover
{
  font-size: 24px;
	color: #2a6496;
}

.feature .panel
{
  border-radius: 0;
}

.feature .panel-heading
{
  background-image: none;
}

.feature .panel-group.no-space
{
  margin-top: 50px;
  margin-bottom: 0;
}

.feature .panel-group a
{
	color: #333;
  transition: color 0.5s;
}

.feature .panel-group a span.toggle
{
  display: inline-block;
  width: 15px;
}

.feature .panel-group a:hover
{
	text-decoration: none;
	color: #000;
}

.container-full 
{
  margin: 0 auto;
  width: 100%;
}

.center
{
  text-align: center;
}

.rg
{
  display:inline-block;
  margin-bottom: -2px;
  width: 21px;
  height: 21px;
  background:transparent url(../img/researchgate.png) 50% 50% no-repeat;
  background-size: contain; 
}

@media(max-width:1200px)
{

  #mkimg
  {
    height: 550px;
  }
}

@media(max-width:991px)
{
  #parallax1 h1
  {
	  font-size: 90px;
    padding: 150px 0 150px 0;
	}

  #parallax1 h1 .highlight
  {
    font-size: 80px;
  }
  
  .navbar .navbar-brand
  {
    font-size: 24px;
  }

  .navbar .navbar-nav>li>a
  {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin: 20px 0px 0px 0px;
    padding: 0 10px;
  }
  
  .parallax 
  { 
    background-size: 125%;
  }

  #mkimg
  {
    height: 425px;
  }
}

@media(max-width:767px)
{
  #parallax1 h4
  {
	  margin-top: 75px;
	}

  .feature h1
  {
  	font-size: 40px;
  }
  
  .feature h2
  {
    font-size: 20px;
    line-height: 28px;
  }
  
  .parallax 
  { 
    background-size: 150%;
    height: 300px;  
  }

  #mkimg
  {
    height: 400px;
  }
}

@media(max-width:568px)
{
  #parallax1 h4, #parallax1 cite
  {
    font-size: 14px;
    line-height: 20px;
	  margin-top: 40px;
	}
  
  .parallax 
  { 
    background-size: 300%;
    height: 250px;  
  }

  .feature > div:first-child
  {
  	margin-top: 75px;
  }
  
  .feature > div:last-child
  {
  	margin-bottom: 75px;
  }

  .feature.top > div:last-child
  {
  	margin-bottom: 0;
  }
  
  .feature.bottom > div:first-child
  {
  	margin-top: 0;
  }

  .feature.mid > div
  {
    margin-top: 0;
    margin-bottom: 0;
  }

  #mkimg
  {
    height: 225px;
  }
}
